<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Starter Template - Materialize</title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark position-absolute w-100">
    <a href="/" class="navbar-brand animated bounceInLeft">WEATHER SEARCH</a>
    <button class="navbar-toggler animated bounceInRight" type="button" data-toggle='collapse' data-target='#navContent'
      aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav ml-auto animated bounceInRight">
        <li class="nav-item">
          <a href="#about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#search" class="nav-link">Search</a>
        </li>
      </ul>
    </div>
  </nav>
  {{{body}}}
  <script src="/javascripts/jquery-3.4.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>