<section id="banner" class="position-relative">
  <div class="title">
    <h1 class="p-0 m-0 animated zoomInDown">Weather Search</h1>
    <h4 class="p-0 m-0 animated zoomInDown">Wherever You Are Looking For, Just Search</h4>
  </div>
  <a href="#about">
    <div class="arrow-down align-self-end animated bounce infinite"></div>
  </a>
</section>

<section id="about">
  <h1>About</h1>
</section>

<section id="search" class="position-relative">
  <div class="overlay"></div>
  <div class="form-container">
    <h1 class="text-center text-white">City</h1>
    <form class="position-relative text-center d-flex flex-column mt-4">
      <div class="form-top">
        <input type="text" id="search-input" placeholder="Taipei" class="mr-2" required>
        <button type="submit" class="btn btn-success">Search</button>
      </div>
      <div class="form-bottom d-none">
        <hr>
        <h6></h6>
        <p></p>
      </div>
    </form>
  </div>
</section>