<section id="banner" class="position-relative">
  <div class="title">
    <h1 class="p-0 m-0 animated zoomInDown">Weather Search</h1>
    <h4 class="p-0 m-0 animated zoomInDown">Wherever You Are Looking For, Just Search</h4>
  </div>
  <a href="#about">
    <div class="arrow-down align-self-end animated bounce infinite"></div>
  </a>
</section>

<section id="about" class="d-flex flex-column justify-content-around align-items-center">
  <div class="container">
    <h1 class="text-center mt-5 about-title">About This App</h1>
    <div class="row">
      <div class="col-lg-4 d-flex justify-content-center text-center">
        <div class="instruction">
          <h1><i class="fas fa-search-location"></i></h1>
          <h4>Find a location</h4>
          <small>e.g., Mission District San Francisco</small>
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center text-center">
        <div class="instruction">
          <h1><i class="far fa-check-circle"></i></h1>
          <h4>Confirm location</h4>
          <small>Mission District, San Francisco, California 94110, United States</small>
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center text-center">
        <div class="instruction">
          <h1><i class="fas fa-map-marker-alt"></i></h1>
          <h4>Get weather Info</h4>
          <small>Mostly cloudy throughout the day. It is currently 15.86 degree. There is a 0% chance of rain.</small>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="search" class="position-relative d-flex align-items-center justify-content-center">
  <div class="overlay"></div>
  <div class="form-container">
    <h1 class="text-center text-white">Weather In</h1>
    <form class="position-relative text-center d-flex flex-column mt-4">
      <div class="form-top">
        <input type="text" id="search-input" placeholder="Taipei" class="mr-2" required>
        <button type="submit" class="btn btn-success">Search</button>
      </div>
      <div class="form-bottom d-none">
        <hr>
        <h6></h6>
        <p></p>
      </div>
    </form>
  </div>
</section>